<footer class="text-center" id="footer" style="overflow: hidden; width: 100%;color:black">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up" style="color: black; font-size: 25px;"></span>
    </a>
    <ul class="list-unstyled" style="font-size: 17px;">
        <li>
            <h3 style="cursor: pointer;" data-toggle="collapse" data-target="#info-footer">Basic Information<span class="caret"></span></h3>
        </li>
        <li class="collapse" id="info-footer">
            <ul>
                <li>NickName: Ted</li>
                <li>Birthday: November 21st</li>
                <li>From: Kiến An, Hải Phòng</li>
                <li>Study in: Học viện kỹ thuật quân sự</li>
                <li>Live in: Cổ Nhuế, Từ Liêm, Hà Nội</li>
            </ul>
            <li>
                <ul>
</footer>
