<div id="wrapper-about">
    <div id="about-area"> 
        <section id="about-left-area">
           <img id="image-about"src=@Url.Content("~/Content/images/about_image.png")></img>
            <h2 style="display:block;margin-top:15px;margin-bottom:10px">Basic Information</h2>
            <ul>
                <li><p><span>FullName:</span> Đặng Minh Được</p></li>
                <li><p><span>NickName:</span> Ted</p></li>
                <li><p><span>Birth:</span> November 21st, 1995</p></li>
                <li><p><span>From:</span> Kiến An, Hải Phòng</p></li>
                <li><p><span>Live in:</span> Cổ Nhuế, Từ Liêm, Hà Nội</p></li>
                <li><p><span>Phone number:</span> 01638004227</p></li>
            </ul>
            <h2 style="display:block;margin-top:15px;margin-bottom:10px">Social Contact</h2>
            <ul class="ul-social-contact">
                   <li><a href="facebook.com/dangduoc.95" target="_blank"><img src=@Url.Content("~/Content/images/facebook.png")></img></a></li>
                   <li><a href="https://twitter.com/ImFineTK" target="_blank"><img src=@Url.Content("~/Content/images/twitter.png")></img></a></li>
                   <li><a href="https://plus.google.com/u/0/100820830678873196232/posts" target="_blank"><img src=@Url.Content("~/Content/images/google.png")></img></a></li>
                   <li><a href="https://www.youtube.com/channel/UCNJ7FkAmUgIDDa_DDTztkCw" target="_blank"><img src=@Url.Content("~/Content/images/youtube.png")></img></a></li>
                 <li><a href="" target="_blank"><img src=@Url.Content("~/Content/images/insta.png")></img></a></li>
                   <li><a href="" target="_blank"><img src=@Url.Content("~/Content/images/skype.png")></img></a></li>
            </ul>
        </section>
        <section id="about-right-area">
            <article>
               <h2>Một chút thông tin về bản thân</h2>
               <p>"Tôi là Đặng Minh Được, 21 tuổi, người Hải Phòng. Hiện tôi đang là sinh viên năm 3 trường học viện kỹ thuật quân sự
                   . Tôi yêu âm nhạc, thích ca hát và làm người khác cười. Tôi thích chơi game đôi khi, cụ thể là dota 2(nếu cùng sở thích 
                   kết bạn ngay với tôi nhé "smiley face"). Hiện tại, tôi đang độc thân. Rất là muốn kiếm gấu, mà kiếm hoài chẳng ra "sad face".
                   Tôi nghĩ nhiều, nên thật sự rất thích viết ra những điều mình nghĩ cho nhẹ nhõm hơn.  Chẳng biết từ bao giờ mà vì thế
                   viết trở thành một sở thích của tôi. :)"
                   </p>
            </article>
            <article>
               <h2>Lý do tôi viết blog này</h2>
               <p>"Chia sẻ niềm vui, tâm trạng, các thứ. Chỗ cho anh em bạn bè chém gió. Cập nhập những thông tin nóng hỏi hàng ngày của lũ bạn khốn nạn.
                   Ảnh troll, các thứ :))"</p>
            </article>
            <article>
               <h2>Nội dung blog của tôi</h2>
               <p>"Ảnh, Video, Những chuyến đi chơi, tâm sự..."</p>
            </article>
        </section>   
        <img src="~/Content/images/close_button.jpg" id="btn-close-about"/> 
    </div>
</div>