@model MyFirstBlog.Models.BestMoment
<!DOCTYPE html>
<html>
<head>
    <meta property="og:site_name" content="Ted's Blog" />
    <meta property="og:url" content='http://dangduoc.azurewebsites.net/FriendsandMe/Moment?id=@Model.momentID' />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Summary" />
    <meta property="og:image" content="@Model.Image">
    <meta property="fb:app_id" content="219237851782524" />
</head>
<body>

</body>
</html>